# Scons
.scons
.sconsign.dblite

# Binaries
*.o
*.o-*
*.os
*.os-*
*.pyc
*.so
/synth
/test

# Code::Blocks
*.depend
*.layout

# Visual Studio 2010
ipch/
Debug/
Release/
*.suo
*.sdf
*.opensdf

# Python
/dist/
