[submodule "external/boost"]
	path = external/boost
	url = https://github.com/ajg/external-boost
	branch = 1_55_0
[submodule "external/tut-framework"]
	path = external/tut-framework
	url = https://github.com/mrzechonek/tut-framework
