# Scons
.scons
.sconsign.dblite

# Binaries
*.o
*.o-*
*.os
*.os-*
*.so
*.so-*
*.dll
*.dll-*
*.lib
*.lib-*

# Executables
/a.out
/synth
/tests/harness
/examples/all

# Sublime Text
*.sublime-workspace

# Code Blocks
*.depend
*.layout

# Visual Studio
ipch/
Debug/
Release/
*.idb
*.suo
*.sdf
*.opensdf

# Python
/dist/
/MANIFEST
*.pyc
*.pyd
*.egg-info

# Misc.
SCRATCH
