# Scons
.scons
.sconsign.dblite

# Binaries
*.o
*.o-*
*.os
*.os-*
*.so
*.so-*
*.dll
*.dll-*
*.lib
*.lib-*

# Executables
/a.out
/synth
/tests/harness.out
/examples/all

# Sublime Text
*.sublime-workspace

# Code Blocks
/ide/cb*/*.depend
/ide/cb*/*.layout

# Visual Studio
*.idb
/ide/vs*/ipch/
/ide/vs*/Debug/
/ide/vs*/Release/
/ide/vs*/*.suo
/ide/vs*/*.sdf
/ide/vs*/*.opensdf

# Python
/build/
/dist/
/MANIFEST
*.pyc
*.pyd
*.egg-info

# Misc.
SCRATCH
