<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
      <title>{% block title %}{{ title }}{% endblock %}{% block title_extra %}{% endblock %}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% block site_meta %}
      {% endblock %}

      {% block meta %}
      {% endblock %}
      <link rel="shortcut icon" href="{{ STATIC_URL }}css/images/favicon.ico" type="image/x-icon" />

      {% if not request.user.is_staff %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{% block analytics_id %}{% endblock %}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      {% endif %}
  </head>
  <body class="{{ request.user.is_authenticated|yesno:'authenticated,anonymous' }} {% block class %}{% endblock %}">
    <div id="distance"></div>
    <div id="wrapper">
      <div class="container">
        <div id="header">
          {% block logo %}<a href="/" title="Home"><img id="logo" src="{{ STATIC_URL}}css/images/logo.png" alt="" /></a>{% endblock %}
          {% block header %}{% endblock %}
          <div id="navigation">
            {% block navigation %}{% endblock %}
          </div>
          {% block header_suffix %}{% endblock %}
        </div>
        <div id="columns">
          <div id="center">
            <div id="content" class="content">
              {% if messages %}<div id="messages">{% include "messages.html" %}</div>{% endif %}
              {% block prefix %}{% endblock %}
              {% block content %}{% endblock %}
              {% block suffix %}{% endblock %}
            </div>
          </div>
          <div id="left">
            {% block left %}{% endblock %}
          </div>
          <div id="right">
            {% block right %}{% endblock %}
          </div>
          <div class="clear">{% block columns_suffix %}{% endblock %}</div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        {% block footer %}{% endblock %}
      </div>
    </div>
    <div id="timestamp">{% now "%r" %}</div>
  </body>
</html>
